#battle-field-1, #battle-field-2 {
    width: 320px;
    height: 320px;
    float: left;
    margin: 10px;
    border: 1px dashed black;
}

#battle-field-1 .s {
    background: #222;
    position: relative
}

#battle-field-2 .s, .w {
    background: #eee;
}

.d {
    background: red;
}

.m {
    background: blue;
}

#battle-field-1 div, #battle-field-2 div {
    width: 30px;
    height: 30px;
    float: left;
    border: 1px solid black;
}

.draggable {
    background-color: red;
    position: absolute
}